* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --cor-de-letra: #070581;
  --cor-de-fundo-button: #4e8cff;
  --espacamento-letra: 0.5rem;
  --border-section: #e2e8f0;
}
body {
  background-color: #f2f2f2;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
img {
  height: 9rem;
  border-radius: 50%;
}
.cabecario {
  display: flex;
  /* mudar a maneira que o flex e exibido */
  flex-direction: column;
  /* colocar os item no centro */
  align-items: center;
  margin: 0 auto;
}
/* .context {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
} */
section {
  background-color: #fff;
  width: 50rem;
  padding: 1rem;
  margin: 1rem auto;
  border: 0.1rem solid var(--border-section);
  border-radius: 1rem;
}

.destaque {
  background-color: hsl(59, 85%, 60%);
  padding: 1rem;
  margin: 0.5rem 1rem 0 0;
  border-left: solid 0.3rem hsl(59, 85%, 40%);
}

section h2 {
  color: var(--cor-de-letra);
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}
.skills li {
  padding: 0.3rem;
  background-color: #c7f8ff;
  border-radius: 1rem;
}
.skills ul {
  display: flex;
  gap: 0.4rem;
  list-style-type: none;
  /* responsavel por quebra a linha quando não existema mais espaço */
  flex-wrap: wrap;
}
.contato p {
  /* espaço não fica colado com botão */
  margin: 0 0 0.5rem 0;
}
.contato a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--cor-de-letra);
  margin: 0 0.2rem 0 0;
  padding: var(--espacamento-letra);
}
.msg-button {
  text-transform: capitalize;
  padding: var(--espacamento-letra);
  color: var(--cor-de-letra);
  background-color: var(--cor-de-fundo-button);
  border: none;
  border-radius: 0.4rem;
  color: #f2f2f2;
}

.projeto {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
}
.projeto article {
  /* calcular a area do elemento para deixa propocional */
  flex: 1;
  display: flex;
  border: 0.2rem solid var(--border-section);
  border-radius: 0.4rem;
  /* mudar o comportamento do flex */
  flex-direction: column;
}
.projeto,
.projeto-img {
  height: 9rem;
}
.projeto-img article {
  /*  colocar um cor de fundo */
  background: linear-gradient(135deg, #070581, #c7f8ff);
  border-radius: 0.6rem;
}
.projeto article h3 {
  /* tamanho do texto */
  font-size: 1rem;
}
.projeto article p {
  /* ajuste de altura */
  flex-grow: 1;
}
